<!DOCTYPE html>
<html>
    <head>
        <title>Admin Page</title>
    </head>

    <body>
        <h1>This is Admin Page..</h1>
        <input type="button" value="사용자 입력값 다운로드">
    </body>
</html>